<style>
    d-for {}
</style>

<textarea #dontparse rows="4" disabled>
<ul #for="user of Users">
    <li #css="color:user.color">{{user.name}}</li>
</ul>
</textarea>

<ul #for="user of Users">
    <li #css="color:user.color">{{user.name}}</li>
</ul>
<br>

<textarea #dontparse rows="4" disabled>
<ul #for="user, index of Users">
    <li #css="color:user.color">{{index}} - {{user.name}}</li>
</ul>
</textarea>

<ul #for="user, index of Users">
    <li #css="color:user.color">{{index}} - {{user.name}}</li>
</ul>
<br>

<textarea #dontparse rows="4" disabled>
<ul #for="value, key in Users.0">
    <li #css="color:user.color">{{key}} : {{value}}</li>
</ul>
</textarea>

<ul #for="value, key in Users.0">
    <li #css="color:user.color">{{key}} : {{value}}</li>
</ul>
<br>

<textarea #dontparse rows="6" disabled>
<ul #for="user, index of Users">
    <span>{{index}} - {{user.name}}</span>
    <ul #for="value, key in user">
        <li>{{key}} : {{value}}</li>
    </ul>
</ul>
</textarea>

<ul #for="user, index of Users">
    <span>{{index}} - {{user.name}}  {{global}}</span>
    <ul #for="value, key in user">
        <li>{{key}} : {{value}}</li>
    </ul>
</ul>