<style>
    d-css {}
</style>

<label>
    <span>size</span>
    <input type="range" #value="size" min="2" max="100">
    <input :value="size" disabled style="width: 30px">
</label>
<label>
    <span>borderColor</span>
    <input type="color" #value="borderColor">
</label>
<br>
<br>

<textarea #dontparse rows="1" disabled>
<div #css="border-color: borderColor" style="border-width: 2px; border-style: solid; width:100px">---------</div>
</textarea>

<div #css="border-color: borderColor" style="border-width: 2px; border-style: solid; width:100px">---------</div>
<br>

<textarea #dontparse rows="1" disabled>
<div #css="color: getRandColor();fontSize: size*px" >Text</div>
</textarea>

<div #css="color: getRandColor();fontSize: size*px" >Text</div>