<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://unpkg.com/rxjs/bundles/Rx.min.js"></script>

	<script src="/jsfair/jsfair.js"></script>
	<script src="/jsfair/component/devContent.js"></script>
	<script src="/jsfair/component/sections.js"></script>
	<script src="/jsfair/component/test.js"></script>
	<script src="/jsfair/component/datGui.js"></script>

</head>
<body>

	<dat-gui></dat-gui>
	<section id="header" static="dev-content"></section>
	<section id="main" default="dev-content"></section>

</body>
</html>
