<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script src="/jsfair/jsfair.js"></script>

</head>
<body>
<header>
<content>
	Test page
</content>
</body>
</html>
