<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
    {{headerIncludes}}
    <script src="/jsfair/libsmin.js"></script>
	<script src="/jsfair/jsfair.js"></script>
	<script src="/jsfair/modules/appState.js"></script>
	<script src="/jsfair/component/devContent.js"></script>
	<script src="/jsfair/component/sections.js"></script>
	<script src="/jsfair/component/test.js"></script>
	<script src="/jsfair/component/datGui.js"></script>

</head>
<body>

	<dat-gui></dat-gui>
	<section id="header" static="dev-content"></section>
	<section id="main" default="dev-content"></section>

</body>
</html>
