<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
    {{headerIncludes}}
</head>
<body>
	<dat-gui></dat-gui>
	<section id="header" static="dev-content"></section>
	<section id="main" default="dev-content"></section>
</body>
</html>
