<style>
    d-value {}
</style>

<div class="controls">
    <button #on="click:filter()">Filter text</button>
    <button #on="click:add()">number++</button>
    <button #on="click:toggleBool()">toggle bool</button>
</div>
<div class="example">
    <textarea #dontparse rows="11" disabled>
    <input #value="textValue" type="text">
    <input #value="nested.test" type="text">
    <input #value="textValue" type="search">
    <input #value="numberValue" type="number">
    <input #value="boolValue" type="checkbox">
    <input #value="numberValue" min="0" max="100" type="range">
    <textarea #value="mTextValue" rows="2">&lt;/textarea>
    <select #value="textValue">
        <option value="entry 1">entry 1</option>
        <option value="entry 2">entry 2</option>
    </select>
    </textarea>
    <label>
        <span>text</span>
        <input type="text" #value="textValue">
    </label>
    <br>
    <label>
        <span>nested</span>
        <input type="text" #value="nested.test">
    </label>
    <br>
    <label>
        <span>search</span>
        <input type="search" #value="textValue">
    </label>
    <br>
    <label>
        <span>number</span>
        <input type="number" #value="numberValue">
    </label>
    <br>
    <label>
        <span>checkbox</span>
        <input type="checkbox" #value="boolValue">
    </label>
    <br>
    <label>
        <span>range</span>
        <input type="range" #value="numberValue" min="0" max="100">
    </label>
    <br>
    <label>
        <span>textarea</span>
        <textarea #value="mTextValue" rows="2"></textarea>
    </label>
    <br>
    <label>
        <span>select</span>
        <select #value="textValue">
            <option value="entry 1">entry 1</option>
            <option value="entry 2">entry 2</option>
        </select>
    </label>
</div>